body {
color: white;
background: black;
}

header{
border-bottom: solid 2xp rgb(42,122,228);
padding: 20px;
font-size: 32px;
color: rgb(42, 122,228);
}

section{
background: rgb(42, 122,228);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
margin-right: 50%;
}